<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel=”stylesheet” />
    <link href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" rel="stylesheet" />

</head>
<body>
    <div class="row">
        <ul class="nav col-5 offset-1">
            <li class="nav-item">
                <a href="@Url.RouteUrl("IndexPage", new { @class = "nav-link active" })">
                    <img src="../uploads/KheechLogo.png" />
                </a>
            </li>
        </ul>
        <div class="col-6 p-4">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-6 justify-content-start">
                        <p class="footer-text">
                            <strong> Gauri Bansal</strong> <br>
                            Kheech Network <br>
                            Little Rock, Ar<br>
                            Email: GauriBansal@Kheech.net
                        </p>
                    </div>
                    <div class="col-6 justify-content-end">
                        <a href="mailto:info@Kheech.net">  <img class="followimage" src="http://www.iconhot.com/icon/png/android-style-icons-r1/512/mail-64.png" /></a>
                        <a href="#"> <img class="followimage" src="https://is3-ssl.mzstatic.com/image/thumb/Purple125/v4/8d/99/34/8d9934d0-f926-b13b-0afe-f33cfe42700b/Icon-Production-1x_U007emarketing-0-85-220-0-6.png/246x0w.jpg" /></a>
                        <a href="#"><img class="followimage" src="https://wsoms.org/wp-content/uploads/2017/10/twitter-logo-1788039_960_720.jpg" />     </a>
                        <p class="footer-text">  &copy; @DateTime.Now.Year - Kheech </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
