@using Microsoft.AspNet.Identity
@using System.Security.Claims
@if (Request.IsAuthenticated)
{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var displayNameClaim = claimsIdentity != null
        ? claimsIdentity.Claims.SingleOrDefault(x => x.Type == ClaimTypes.GivenName)
        : null;
    var nameToDisplay = displayNameClaim == null ? User.Identity.Name : displayNameClaim.Value;

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav row navbar-right">
            <li class="nav-item col-sm-4">
                @Html.ActionLink("Hello " + nameToDisplay + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link active" })
            </li>
            <li class="nav-item col-sm-4"><a href="@Url.RouteUrl("InviteAFriendPost")" class="nav-link">Invite A Friend</a></li> 
            <li class="nav-item col-sm-4"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-right row">
        <div class="col-sm-2 offset-7">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </div>
        <div class="col-sm-2">
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </div>
    </ul>
}
