@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav row navbar-right">
            <li class="nav-item col-sm-2">
                @Html.ActionLink("Hello " + User.Identity.GetUserName().split('@')[0] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link active" })
            </li>
            <li class="nav-item col-sm-2"><a href="@Url.RouteUrl("InviteAFriend")">Invite A Friend</a></li> 
            <li class="nav-item col-sm-2"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-right row">
        <div class="col-sm-2 offset-7">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </div>
        <div class="col-sm-2">
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </div>
    </ul>
}
