@using Humanizer
@model Kheech.Web.ViewModels.FriendsDetailViewModel
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.RouteUrl("HomePage")">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.RouteUrl("FriendsHome")">Friends</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.FriendInformation.Name details</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3> @Model.FriendInformation.Name's activities </h3>
            <ul class="list-group list-group-flush list-unstyled">
                @foreach (var kactivity in Model.FriendActivity)
                {
                <li class="list-group-item">
                    <a href="@Url.RouteUrl("KheechDetails", new { id = kactivity.KheechEventId})">
                        @kactivity.KheechEvent.EventName.Humanize() at
                        @kactivity.KheechEvent.Location.Name.Humanize() with
                        @kactivity.KheechEvent.ApplicationUser.FirstName @kactivity.KheechEvent.ApplicationUser.LastName on
                        @kactivity.KheechEvent.StartDate.Humanize()
                    </a>
                </li>
                }
            </ul>
        </div>
        <div class="col-sm-4">
            <h4> You and @Model.FriendInformation.Name.Split(' ')[0] </h4> <hr />
            <p>
                @foreach (var kactivity in Model.CommonActivity)
                {
                    <a href="@Url.RouteUrl("KheechDetails", new { id = kactivity.KheechEventId})">
                        @kactivity.KheechEvent.EventName.Humanize() at 
                        @kactivity.KheechEvent.Location.Name.Humanize() on 
                        @kactivity.KheechEvent.StartDate.Humanize() 
                    </a>
                }
            </p>
        </div>
    </div>
</div>

