@using Humanizer
@using Microsoft.AspNet.Identity
@model Kheech.Web.Models.KheechEvent

<div class="container">
    <div class="row">
        <div class="col-sm-8 table-bordered">
            <div class="container">
                @if (User.Identity.GetUserId() == @Model.ApplicationUserId)
                {
                <div class="row">
                    <a class="col-sm-6 text-left" href="@Url.RouteUrl("KheechEdit", new { id = Model.Id })">Edit</a>
                    <a class="col-6 text-right" href="@Url.RouteUrl("MomentsCreate", new { kheechId = Model.Id})">Create a moment</a>
                </div>
                <div class="row">
                    <h5 class="col-sm-12 text-center"><em><u>@Model.EventName.Humanize() at @Model.Location.Name.Humanize()</u></em></h5>
                    <ul class="list-unstyled col-sm-12"> 
                        These friends have accepted your Kheech to meet you at @Model.Location.Name on @Model.StartDate.ToString("dddd, dd MMMM").
                        @foreach(var kheechUser in Model.KheechUsers)
                        {
                            <li class="offset-1">
                                 @Html.CheckBoxFor(m => kheechUser.IsAccepted, new { @disabled = "disabled" })
                                 @kheechUser.ApplicationUser.FirstName @kheechUser.ApplicationUser.LastName
                            </li>
                        }
                    </ul>
                </div>
                }
                else
                {
                <div class="row">
                    <div class="col-sm-8">
                        <em>@Model.ApplicationUser.FirstName.Humanize() @Model.ApplicationUser.LastName.Humanize()</em> has invited you to a Kheech
                        @Model.EventName.Humanize() at @Model.Location.Name.Humanize() for <br />
                    </div>
                    <div class="col-sm-4 text-center">
                        <h3><strong> @Model.StartDate.ToString("dddd") </strong></h3>
                        <h3> @Model.StartDate.ToString("dd MMMM ") </h3>
                    </div>
                </div>
                <div class="row"> 
                    @foreach (var kheechUsers in Model.KheechUsers)
                    {
                        <div class="col-sm-12">
                            @kheechUsers.ApplicationUser.FirstName @kheechUsers.ApplicationUser.LastName
                        </div>
                     }
                </div>
                //include code to show who accepted and who dint
                <form class="row" method="post" action="@Url.RouteUrl("AcceptedKheechPost", new { id = Model.Id})">
                    <button class="col-sm-2 offset-3 btn" id="isAccepted" name="isAccepted" value="true">Yes</button>
                    <button class="col-sm-2 offset-3 btn" name="isAccepted" value="false">No</button>
                </form>
                }
            </div>
        </div>
        <div class="col-sm-4 table-bordered">
            <p> <small>Here is what going on: </small></p>
            @foreach (var comment in Model.KheechComments)
            {
                <div class="row">
                    <div class="col-sm-2">
                        <span >@comment.KheechEvent.ApplicationUser.FirstName.First()@comment.KheechEvent.ApplicationUser.LastName.First(): </span>
                    </div>
                    <p class="col-sm-7">
                        <small> @comment.Discussion </small>
                    </p>
                </div>
            }
                <form method="post" action="@Url.RouteUrl("AddDiscussion", new { id = Model.Id})">
                    @Html.AntiForgeryToken()
                    <textarea id="newMessage" name="newMessage"></textarea>
                    <button type="submit">Add</button>
                </form>
        </div>
    </div>
</div>
