@using Humanizer
@using Microsoft.AspNet.Identity
@model Kheech.Web.Models.KheechEvent

<div class="container">
    <a class="btn btn-primary" href="@Url.RouteUrl("MomentsCreate", new { kheechId = Model.Id})">Create a moment</a>
    <div class="row">
        <div class="col-sm-8">
            <div class="container">
                @if (User.Identity.GetUserId() == @Model.ApplicationUserId)
                {
                <div class="row">
                    <a class="btn btn-primary col-sm-3 offset-4 text-center" href="@Url.RouteUrl("KheechEdit", new { id = Model.Id })">Edit</a>
                </div>
                <div class="row">
                    <ul class="list-unstyled col-sm-12"> 
                        These friends have accepted your Kheech to meet you at @Model.Location.Name on @Model.StartDate.ToString("dddd, dd MMMM").
                        @foreach(var kheechUser in Model.KheechUsers)
                        {
                            if (kheechUser.IsAccepted == true)
                            {
                                <li >@kheechUser.ApplicationUser.FirstName @kheechUser.ApplicationUser.LastName</li>
                            }
                        }
                    </ul>
                </div>
                }
                else
                {
                <div class="row">
                    <div class="col-sm-8">
                        @Model.ApplicationUser.FirstName.Humanize() @Model.ApplicationUser.LastName.Humanize() has created a Kheech
                        @Model.EventName.Humanize() at @Model.Location.Name.Humanize() for <br />
                    </div>
                    <div class="col-sm-4 text-center">
                        <h3> @Model.StartDate.ToString("dddd") </h3>
                        <h3> @Model.StartDate.ToString("dd MMMM ") </h3>
                    </div>
                </div>
                <div class="row"> 
                    @foreach (var kheechUsers in Model.KheechUsers)
                    {
                        <div class="col-sm-12">
                            @kheechUsers.ApplicationUser.FirstName @kheechUsers.ApplicationUser.LastName
                        </div>
                     }
                </div>
                //include code to show who accepted and who dint
                <div class="row">
                    <div class="col-sm-6">
                        //ACCEPT CHECKBOX HERE
                    </div>
                    <div class="col-md-6">
                        //not accept checkbox here
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-sm-4">
            <p> <small>Here is what going on: </small></p>
            @foreach (var comment in Model.KheechComments)
            {
                <div class="row">
                    <div class="col-sm-2">
                        <span >@comment.KheechEvent.ApplicationUser.FirstName.First()@comment.KheechEvent.ApplicationUser.LastName.First(): </span>
                    </div>
                    <p class="col-sm-7">
                        <small> @comment.Discussion </small>
                    </p>
                </div>
            }
                <form method="post" action="@Url.RouteUrl("AddDiscussion", new { id = Model.Id})">
                    @Html.AntiForgeryToken()
                    <textarea id="newMessage" name="newMessage"></textarea>
                    <button type="submit">Add</button>
                </form>
        </div>
    </div>
</div>
