@using Humanizer
@using Microsoft.AspNet.Identity
@model Kheech.Web.Models.KheechEvent

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="container">
                @if (User.Identity.GetUserId() == @Model.ApplicationUserId)
                {
                <div class="row">
                    <a class="btn btn-primary col-sm-3 offset-4 text-center" href="@Url.RouteUrl("KheechEdit", new { id = Model.Id })">Edit</a>
                </div>
                <div class="row">
                    <ul class="col-sm-12"> Your friends are excited to meet you at @Model.Location.Name, @Model.StartDate.Humanize()
                    @foreach(var kheechUser in Model.KheechUsers)
                    {
                        if (kheechUser.IsAccepted == true)
                        {
                           <li>@kheechUser.ApplicationUser.FirstName @kheechUser.ApplicationUser.LastName</li>
                        }
                    }
                    </ul>
                </div>
                @*<div class="row">
                    <ul class="col-sm-12"> Some of your friends would like you to reconsider the time instead of @Model.StartDate.Humanize()
                    @foreach(var kheechUser in Model.KheechUsers)
                    {
                        if (kheechUser.IsAccepted == false)
                        {
                            <li>@kheechUser.ApplicationUser.FirstName @kheechUser.ApplicationUser.LastName</li>
                        }
                    }
                    </ul>
                </div>*@
                }
                else
                {
                <div class="row">
                    <div class="col-sm-4 avatar-circle">
                        <span class="initials">@Model.ApplicationUser.FirstName.First()@Model.ApplicationUser.LastName.First()</span>
                    </div>
                    <div class="avatar-comment col-md-8 text-center">
                        <h3> @Model.StartDate.DayOfWeek </h3>
                        <h3> @Model.StartDate.Humanize() </h3>
                    </div>
                </div>
                <div class="row">
                    @foreach (var kheechUsers in Model.KheechUsers)
                    {
                        <div class="col-sm-12">
                            
                        </div>
                     }
                </div>
                //include code to show who accepted and who dint
                <div class="row">
                    <div class="col-sm-6">
                        //ACCEPT CHECKBOX HERE
                    </div>
                    <div class="col-md-6">
                        //not accept checkbox here
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-sm-4">
            <p> Here is what going on: </p>
            @foreach (var comment in Model.KheechComments)
            {
                <div class="row kheech-comments">
                    <div class="avatar-circle col-sm-3">
                        <span class="initials">@comment.KheechEvent.ApplicationUser.FirstName.First()@comment.KheechEvent.ApplicationUser.LastName.First()</span>
                    </div>
                    <p class="avatar-comment offset-2 col-sm-9">
                        @comment.KheechEvent.ApplicationUser.FirstName added: <br>
                        <small> @comment.Discussion </small>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
