@using Humanizer
@using Newtonsoft.Json
@using Microsoft.AspNet.Identity
@model Kheech.Web.Models.KheechEvent

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.RouteUrl("HomePage")">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.EventName at @Model.Location.Name</li>
    </ol>
</nav>

<div class="container pl-0 pr-0">
    <div class="row">
        <div class="col-12 col-sm-8">
            <div class="jumbotron pt-4">
                @if (User.Identity.GetUserId() == @Model.ApplicationUserId)
                {
                    <div class="row">
                        <a class="col-6 text-left" href="@Url.RouteUrl("KheechEdit", new { id = Model.Id })"><i class="fa fa-edit"></i></a>
                        <a class="col-6 text-right" href="@Url.RouteUrl("MomentsCreate", new { kheechId = Model.Id })"><i class="fa fa-upload"></i></a>
                    </div>
                    <div class="row">
                        <h5 class="col-12 text-center page-heading"><em><u>@Model.EventName.Humanize() at @Model.Location.Name.Humanize()</u></em></h5>
                        <p class="col-12 mt-3">
                            These friends are invited to your Kheech to meet on @Model.StartDate.ToString("dddd, dd MMMM") from 
                            @Model.StartDate.ToString("h:mm tt") to @Model.EndDate.ToString("h:mm tt").
                        </p>
                        <ul class="list-unstyled col-sm-12">
                            @foreach (var kheechUser in Model.KheechUsers)
                            {
                            <li class="offset-1">
                                @Html.CheckBoxFor(m => kheechUser.IsAccepted, new { @disabled = "disabled", @class = "form-check-input" })
                                <a href="@Url.RouteUrl("FriendsDetail", new { friendid = @kheechUser.ApplicationUserId})">
                                    @kheechUser.ApplicationUser.FirstName.Humanize() @kheechUser.ApplicationUser.LastName.Humanize()
                                </a>
                            </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div class="row p-3">
                        <div class="col-6">
                            <small>Invited by</small>
                            <h3 class="page-heading"><em>@Model.ApplicationUser.FirstName.Humanize() @Model.ApplicationUser.LastName.Humanize()</em></h3>
                        </div>
                        <div class="col-6 text-right">
                            <small class="text-left">On</small>
                            <h5> <em>@Model.StartDate.ToString("dddd, dd MMMM") </em></h5>
                        </div>
                    </div>
                    if (@Model.EndDate >= DateTime.UtcNow)
                    {
                    <form class="row p-3" method="post" action="@Url.RouteUrl("AcceptedKheechPost", new { id = @Model.Id })">
                        @Html.AntiForgeryToken()
                        <label class="col-12 text-center"> Do you wish to attend?</label>
                        <button class="col-1 offset-4 btn btn-success btn-sm" id="isAccepted" name="isAccepted" value="true"><i class="fa fa-check"></i></button>
                        <button class="col-1 offset-2 btn btn-success btn-sm" name="isAccepted" value="false"><i class="fa fa-times"></i></button>
                    </form>
                    }
                    <hr />
                    <div class="row p-3">
                        <div class="col-12">
                            <p>
                                @Model.EventName.Humanize() at @Model.Location.Name.Humanize() on 
                                @Model.StartDate.ToString("dddd, dd MMMM") from @Model.StartDate.ToString("h:mm tt") to @Model.EndDate.ToString("h:mm tt"). 
                            </p>
                        </div>
                    </div>
                    <div class="row pl-3 pr-3 pb-3">
                        <div class="col-12">
                            <p>These people are invited too.</p>
                            @foreach (var kheechUser in Model.KheechUsers)
                            {
                                <div class="col-12">
                                    @Html.CheckBoxFor(m => kheechUser.IsAccepted, new { @disabled = "disabled" })
                                    @kheechUser.ApplicationUser.FirstName.Humanize() @kheechUser.ApplicationUser.LastName.Humanize()
                                    @if (kheechUser.IsAccepted == true)
                                    {
                                        <sup class="badge badge-primary">accepted</sup>
                                    }
                                    else
                                    {
                                        <sup class="badge badge-primary">pending</sup>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
                <br />
                <div class="row">
                    @foreach (var kimage in Model.KheechMoments)
                    {
                        <div class="col-4 col-md-2">
                            <a href="@Url.RouteUrl("MomentsDetail", new { id = kimage.Id })">
                                <img class="img-thumbnail thumbnail-image" src="@kimage.Capture" alt="@kimage.Description" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="jumbotron pt-4">
                <p> <small><i class="fa fa-comments"> </i>  Here is what going on</small></p>
                @foreach (var comment in Model.KheechComments)
                {
                    <div class="row border rounded mb-2">
                        <div class="col-sm-2">
                            <span class="comments-intials"><strong>@comment.ApplicationUser.FirstName.First()@comment.ApplicationUser.LastName.First(): </strong></span>
                        </div>
                        <p class="col-sm-8 text-left pr-0">
                            <small id="comment-discussion"> @comment.Discussion </small>
                        </p>
                        @if (comment.CreatorId == User.Identity.GetUserId())
                        {
                            <a class="col-sm-1 delete-comment" href="#" data-comment-id="@comment.Id"><i class="fa fa-trash"></i></a>
                        }
                    </div>
                }
                <div class="row">
                    <div class="col-12 p-0">
                        <form method="post" action="@Url.RouteUrl("AddDiscussion", new { id = Model.Id})">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <textarea id="newMessage" name="newMessage" class="form-control"></textarea>
                                <button class="btn btn-success btn-sm offset-8" type="submit">comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/vendor")
    <script>
        $(".delete-comment").click(function () {
            var id = $(this).data("comment-id");
            $.ajax({
                method: 'post',
                url: '@Url.RouteUrl("DeleteDiscussion")',
                data: {
                    id: id
                },
                success: function (data) {
                toastr.success("You have deleted a comment. Refresh page to reflect changes here.");
                console.log(data);
                },
                error: function () {
                console.warn('Unable to delete comment');
                }
            });
        });
    </script>
}
