@using Humanizer
@model Kheech.Web.ViewModels.KheechIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container Kheech-Home-Container p-5 rounded">
    <div class="jumbotron">
        @if (Model.ActiveKheechEvents.Count() == 0)
        {
            <p>@ViewBag.Message</p>
        }
        else
        {
            <ul class="row">
                You have a friend's meet to enjoy.
                @foreach (var kheech in Model.ActiveKheechEvents)
                {
                <li class="offset-sm-1 col-sm-10">
                    <a href="@Url.RouteUrl("KheechDetails", new { id = kheech.Id})">
                        @kheech.EventName.Humanize() at @kheech.Location.Name.Humanize() - @kheech.StartDate.Humanize()
                    </a>
                </li>
                }
            </ul>
        }
    </div>
    <div class="row m-0">
        <div class="card col-sm-4 kheech-schedule p-1">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="@Url.RouteUrl("ScheduleMeeting")">Schedule Kheech</a>
                </h5><hr />
                <h6 class="card-subtitle mb-2 text-muted">Recent Kheeches</h6>
                <p>
                    @foreach (var kheech in Model.RecentSchedules)
                    {
                    <a href="@Url.RouteUrl("KheechDetails", new { id = kheech.Id})">
                        <small>@kheech.EventName.Humanize() at @kheech.Location.Name.Humanize()</small>
                    </a><br />
                    }
                </p>
            </div>
        </div>
        <div class="card col-sm-4 kheech-friend p-1">
            <div class="card-body">
                <h5 class="card-title"><a href="@Url.RouteUrl("FriendsHome")">Friends Connection</a></h5><hr />
                <h6 class="card-subtitle mb-2 text-muted">Favourite friends</h6>
                <p>
                    @foreach (var friend in Model.RecentFriends)
                    {
                    <a href="@Url.RouteUrl("FriendsDetail", new { friendid = friend.ApplicationUserId})">
                        <small>@friend.ApplicationUser.FirstName.Humanize() @friend.ApplicationUser.LastName.Humanize()</small>
                    </a><br />
                    }
                </p>
            </div>
        </div>
            <div class="card col-sm-4 kheech-moments p-1">
            <div class="card-body">
                <h5 class="card-title"><a href="@Url.RouteUrl("MomentsHome")">Enjoy some Moments</a></h5><hr />
                <h6 class="card-subtitle mb-2 text-muted">Recent memories</h6>
                <p>
                    @foreach (var moment in Model.RecentMoments)
                    {
                    <a href="@Url.RouteUrl("MomentsDetail", new { id = moment.Id})">
                        <small>@moment.KheechEvent.EventName.Humanize() at 
                               @moment.KheechEvent.Location.Name.Humanize() on 
                               @moment.KheechEvent.StartDate.ToString("dddd, dd MMMM")
                        </small>
                    </a><br />
                    }
                </p>
            </div>
                
            </div>
        </div>
</div>