@using Humanizer
@model List<Kheech.Web.ViewModels.KheechIndexViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    @if (Model.Count == 0)
    {
        <p>@ViewBag.Message</p>
    }
    else
    {
    <ul class="row">
        <small> You have a friend's meet to enjoy. </small> 
        @foreach(var kheech in Model.ActiveKheechEvents)
        {
            <li>@kheech.EventName "at" @kheech.Location "on" @kheech.StartDate.Humanize()</li>
        }
    </ul>
    }
</div>
<div class="row">
    <div class="col-sm-4 kheech-schedule">
        <a href="@Url.RouteUrl("ScheduleMeeting")" class="btn btn-dark">Start Scheduling</a>
    </div>
    <div class="col-sm-4 kheech-friend">
        <a href="@Url.RouteUrl("ScheduleMeeting")" class="btn btn-dark">See your connection with friends</a>
    </div>
    <div class="col-sm-4 kheech-moments">
        <a href="@Url.RouteUrl("MomentsHome")" class="btn btn-dark">Let's enjoy some Kheech's Moments</a>
    </div>
</div>
