@model Kheech.Web.ViewModels.ScheduleViewModel
@{
    ViewBag.Title = "Schedule";
}
@Html.ValidationSummary()
<form action="@Url.RouteUrl("ScheduleMeetingPost")" , method="post">
  <fieldset>
    <legend>Find a suitable time</legend>
    <div class="form-group">
        <label for="EventName">What do you wanna do?</label>
        <input type="text" class="form-control" name="EventName" value="@Request.Form["EventName"]" />
    </div>
    <div class="form-group">
        <label for="WhenToMeet">When do you want to meet?</label>
        <input type="datetime-local" class="form-control" name="WhenToMeet" value="@Request.Form["WhenToMeet"]" />
    </div>
    <div class="form-group">
        <label for="WhoToMeet">Who do you want to meet?</label>
        <select class="form-control" name="WhoToMeet" value="@Request.Form["WhoToMeet"]" >
            @if (Model.Count == 0)
            {
                <option> You do not have any friends yet.</option>
            }
            @else
            {
                foreach (var friend in Model)
                {
                    <option>@friend.ApplicationUser2.FirstName  @friend.ApplicationUser2.LastName</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="WhereToMeet">Where do you want to meet?</label>
        <input type="text" class="form-control" name="WhereToMeet" value="@Request.Form["WhereToMeet"]" />
    </div>
    <button type="submit" class="btn btn-primary">Send Schedule</button>
 </fieldset>
</form>

