@model Kheech.Web.ViewModels.ScheduleViewModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.RouteUrl("HomePage")">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Create-Kheech</li>
    </ol>
</nav>

<form action="@Url.RouteUrl("ScheduleMeetingPost", new { id = 1})" method="post" class="form-control schedule-form">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Find a suitable time</legend><hr />
        <div class="form-group">
            @Html.LabelFor(m => m.EventName, new { @class = "col-sm-12 control-label" })
            <div class="col-sm-12">
                @Html.TextBoxFor(m => m.EventName, new { @class = "form-control", @placeholder = "Name for your Event" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.WhenToMeet, new { @class = "col-sm-12 control-label" })
            <div class="col-sm-12">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="WhenToMeet" placeholder="Date and Time"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.WhoToMeet, new { @class = "col-sm-12 control-label" })
            <div class="col-sm-12">
                @if (Model.Friends.Count == 0)
                {
                    @Html.TextBoxFor(m => m.WhoToMeet, new { @readonly = "readonly", @class = "form-control", @placeholder = "You do not have friends yet" })
                }
                else
                {
                    @Html.DropDownListFor(m => m.WhoToMeet,
                                         new SelectList(Model.Friends, "Id", "Name"), new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.WhereToMeet, new { @class = "col-sm-12 control-label" })
            <div class="col-sm-12">
                @Html.TextBoxFor(m => m.WhereToMeet, new { @class = "form-control", @id = "place-autocomplete"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-6 offset-2 offset-md-3">
                <button type="submit" class="btn btn-success text-center">Send Schedule</button>
            </div>
        </div>
    </fieldset>
</form>
@section scripts
{
    <script type="text/javascript">
        $.extend($.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'far fa-calendar-check-o',
                clear: 'far fa-trash',
                close: 'far fa-times'
            }
        });

        $(function () {
            $('#datetimepicker1').datetimepicker();
        });

    </script>
    <script>
        function activatePlacesSearch() {
            var input = document.getElementById('place-autocomplete');
            var autocomplete = new google.maps.places.Autocomplete(input);
        }
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX3zgHmS6zIL1xZzTY7ox-BEPAssPnkbg&libraries=places&callback=activatePlacesSearch"></script>

}
