@model Kheech.Web.ViewModels.MomentsUploadViewModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.RouteUrl("HomePage")">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.RouteUrl("KheechDetails", new { id = Model.KheechId})">Kheech @Model.KheechId</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">CreateMoment</li>
    </ol>
</nav>

<form action="@Url.RouteUrl("MomentsCreatePost", new { id = Model.KheechId})" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.KheechId)
    <h4>Create a Moment</h4>
    <hr />

    <div>@ViewBag.Message</div>

    <div class="form-group">
        @Html.LabelFor(a => a.File, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(a => a.File, new { @class = "form-control", type = "file", accept = "*" })
        @Html.ValidationMessageFor(a => a.File, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>
