@model Kheech.Web.Models.Moment
 @using Humanizer

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row card">
        <h4 class="card-title">@Model.KheechEvent.EventName at @Model.KheechEvent.Location.Name on @Model.KheechEvent.StartDate.Humanize</h4>
        <img class="card-img" src="@Model.Capture" alt="Memory" />
        <div class="card-body">
            <p class="card-text">@Model.Description</p> <br>
            <span class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </span>
        </div>
    </div>
</div>
