@model IEnumerable<Kheech.Web.Models.Moment>
 @using Humanizer

@{
    ViewBag.Title = "Index";
}

<div class="container mt-3 mb-3">
    <h4 class="text-center"><em>Recent Memories</em></h4>
  <div class="row">
    @foreach (var moment in Model)
    {
      <div class="col-sm-4 card">
        <a href="@Url.RouteUrl("MomentsDetail", new { id = moment.Id})">
          <img class="card-img-top" src="@moment.Capture" alt="@moment.KheechEvent.EventName">
        </a>
        <div class="card-body">
          <p>
              <a href="@Url.RouteUrl("KheechDetails", new { id = moment.KheechEvent.Id})" class="card-title">
                  @moment.KheechEvent.Location.Name.Humanize()'s @moment.KheechEvent.EventName.Humanize() - @moment.KheechEvent.StartDate.Humanize()
              </a>
          </p>
        </div>
      </div>
    }
  </div>
</div>
