//FriendsIndexViewModel class

public int FriendsCount {get; set;}

public IEnumerable<FriendViewModel> FriendViewModels {get; set;}

//Friends Index View:
@model Kheech.Web.ViewModels.FriendsIndexViewModel

<div class="container">
  <div class="row">
    <ul class="list-group list-unstyled col-sm-12">Get to know about your friends
      <small>@Model.FriendsCount friends</small>
      @foreach(var friend in Model.FriendViewModels)
      {
        <li class="list-group-item">@friend.Name</li>
      }
    </ul>
  </div>
  <form class="form-group row" method="post" action="@Url.RouteUrl("InviteAFriendPost", new { id = Model.Id})">
    @Html.AntiForgeryToken()
    <input type="email" class="form-control col-sm-12" id="friendEmail" name="friendEmail" placeholder="name@example.com">
    <button class="offset-sm-5 col-sm-2" type="submit">Add a friend</button>
  </form>
</div>


// friend details page
//create a view model FriendsDetailViewModel
public FriendViewModel FriendInformation {get; set;}

public IEnumerable<KheechEvent> FriendActivity {get; set;}

public IEnumerable<KheechEvent> CommonActivity {get; set;}

@using Humanizer
@model Kheech.Web.ViewModels.FriendsDetailViewModel

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3> @Model.FriendInformation.Name's activities </h3><hr />
      <p>
        @foreach(var kactivity in Model.FriendActivity)
        {
          <span> @kactivity.EventName.Humanize() at @kactivity.Location.Name.Humanize on @kactivity.StartDate.Humanize() </span><br />
        }
      </p>
    </div>
    <div class="col-sm-4">
      <h3> You and @Model.FriendInformation.Name </h3> <hr />
      <p>
        @foreach(var kactivity in Model.CommonActivity)
        {
          <span> @kactivity.EventName.Humanize() at @kactivity.Location.Name.Humanize on @kactivity.StartDate.Humanize() </span><br />
        }
      </p>
    </div>
  </div>
</div>
